<div class="row">
	<div class="col-sm-12 text-center" 
		style="color: white; font-size: 20px; font-weight: bold">Are you enquiring as a...</div>
</div>
<div class="row" style=""><p style="margin-bottom: 70px"></p></div>
<div class="row" style="margin-bottom: 100px;">
	<div class="col-sm-4 text-center" >
		<img src="../assets/images/samuraipanda.png" alt="Single" class="img-circle"
			style="border-radius: 100px 100px; cursor: pointer; "
			(click)="onClick()">
		<span class="" style="color: white; font-size: 20px; font-weight: bold">Single</span>
	</div>
	<div class="col-sm-4 text-center">
		<img src="../assets/images/monkeypanda.png" alt="Couple" class="img-circle"
			style="border-radius: 100px 100px; cursor: pointer; "
			(click)="onClick()">
		<span class="" style="color: white; font-size: 20px; font-weight: bold">Couple</span>
	</div>
	<div class="col-sm-4 text-center">
		<img src="../assets/images/pilotpanda.png" alt="Family Member" class="img-circle"
			style="border-radius: 100px 100px; cursor: pointer; "
			(click)="onClick()">
		<span class="" style="color: white; font-size: 20px; font-weight: bold">Family Member</span>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-right">
		<button class="btn btn-primary">
			Next
		</button>
	</div>
</div>