<div class="container-fluid">
	<div class="row">
		<div class="col-md-6" >
			<img src="../assets/images/bclogo.png" alt="Single" class="img-circle">	
		</div>

		<div class="col-md-6 text-right">
			<div class="row">
				<div class="col-md-12">
					<span style="color: black; font-size: 30px; font-weight: bold">1300 XXX XXX</span>
				</div>				
			</div>
			<div class="row">
				<div class="col-md-12">
					<span style="color: black; font-size: 15px; font-weight: bold">your reference: ABC-1234</span>
				</div>
			</div>
		</div>
	</div>
</div>
