<div class="row">
	<div class="col-md-12 " 
		style="color: white; font-weight: bold; font-size: large;">
		<p><a href="#" style="color: white; font-weight: bold; font-size: large;">1. What services does Blue Care offer me as a client?</a></p>
		<p><a href="#" style="color: white; font-weight: bold; font-size: large;">2. How much government funding am I eligible for?</a></p>
		<p><a href="#" style="color: white; font-weight: bold; font-size: large;">3. Can Blue Care take care of my MAC application as a client?</a></p>
		<p><a href="#" style="color: white; font-weight: bold; font-size: large;">4. Can I customize what services are important to me as a client?</a></p>
		<p><a href="#" style="color: white; font-weight: bold; font-size: large;">5. Can I get in contact with Blue Care to discuss the above questions or any else that relates to my health care plan?</a></p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-right">
		<button class="btn btn-primary">
			Next
		</button>
	</div>
</div>
