<div class="container">	
	<div class="row">
		<hr>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="">
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<!-- <app-enquire-recipient></app-enquire-recipient> -->
			<app-desired-question></app-desired-question>
		</div>		
	</div>


	<!-- <div class="row">
	  <div class="col">
	    <div ngbDropdown class="d-inline-block">
	      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
	      <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
	        <button class="dropdown-item">Action - 1</button>
	        <button class="dropdown-item">Another Action</button>
	        <button class="dropdown-item">Something else is here</button>
	      </div>
	    </div>
	  </div> 
	</div> -->
</div>
